<div class="m-auto w-50">
<h1 class="text-center"> Stupid coaching</h1>

<p class="text-center">Ask your coach anything</p>

<form action="/answer" data-turbo="false" class="text-center">
  <input type="text" name= question>
  <input type="submit" value="Ask!"class="btn btn-primary">
</form>
</div>
